
.nav-container {
  width: 100%;
  .navbar {
      background-color: $background-white;
      border-bottom: 1px solid $main-text-grey;
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;

    .navbar-right {
      margin-right: 15px;
    }

    .navbar-brand {
      font-size: 28px;
      font-weight: 700;
      color: $main-header-blue;
    }

    .navbar-nav > li > a {
     color: $main-link-color;
   }

  }

}
