.profile {
  margin-top: 8em;

  .profile-header {
    padding: 2em 3em 1em 3em;
  }

  .tag-author-list {
    padding-bottom: 1em;

    .institution {
      font-size: .9em;
      color: $subtext-text-grey;
    }

    .author-item {
      padding: 1em 0 1em 0;
      border-bottom: 2px solid $border-bottom-grey;
    }

    .name, .follow, .unfollow {
      margin: 0 2em;
    }

    .follow, .unfollow {
      float: right;
    }
  }
}
