.search-results {
  
  .search-title {
    padding: 2em 2em 0 2em;
  }

  .search {
    width: 20em !important;
    font-size: 2em;
    color: $main-text-grey;
    font-weight: 300;
    letter-spacing: 1px;
  }

}
