.follow, .unfollow {
  vertical-align: middle;
  font-family: 'Roboto';
  margin-left: 10px;
  padding: 3px 10px 3px 10px;
  border: 1.5px solid $accent-link-green;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
}

.follow {
  background: transparent;
  color: $accent-link-green;
}

.unfollow {
  background:  $accent-link-hover;
  border-color:  $accent-link-hover;
  color: $text-white;
}
