$main-header-blue: #204875;
$main-link-blue: #3675BC;
$main-link-hover: #407DC1;
$accent-link-green: #3EE8BC;
$accent-link-hover: #2BC79F;
$main-text-grey: #4A4A4A;
$subtext-text-grey: #595959;
$fade-text-grey: #b2b5ba;
$background-grey: #FAFAFA;
$background-white: #FFFFFF;
$border-bottom-grey: #e7e7e7;
$text-white: #FFFFFF;
